.row{
	margin: 0px;
}

*{
	font-family: 'Muli', sans-serif;
}

.navbar{
	margin-bottom: 0px;
}

.intro_title_block{
	background-image:url('../img/background6copy.svg');

}

.img_seal{
	padding: 5% 0%
}

.intro_title_text{
	padding-top: 9%;
	font-family: 'Quattrocento', serif;
}

.intro_title_text h1{
	font-family: 'Quattrocento', serif;
	/*font-weight: 700;*/
	font-size: 66px;
	margin: 10px 0 10px 0;
}

.greek_font{
	font-family: 'Noto Serif', serif;
}

.intro_title_lambdas h2{
	margin: 20px 0 10px 0;
	padding-top:10px;
	font-size: 50px;
	border-top: 1px solid #333;
}

.mission_statement{
	padding: 50px;
}

.mission_statement p{
	font-size: 20px;
}

.central_text_box{
	padding: 10px 20px;
	background-color: lightgray;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px; /* future proofing */
	-khtml-border-radius: 15px; /* for old Konqueror browsers */
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 50px;
	margin-bottom: 50px;
}
	
.contact_us h4{
	text-align: center;
	font-weight: bold;
	}
	
.about_us h4{
	text-align: center;
	font-weight: bold;
	}
	
.chapter_info h4{
	text-align: center;
	font-weight: bold;
	}

.end_of_page_block {
	background-image:url('../img/hexabump.png');
	background-repeat:repeat;
}
	
.being_a_brother h4{
	text-align: center;
	}
	
.why_lambdas_are_awesome h4{
	text-align: center;
	}
	
.afterthought_box{
	background-color: #CFB53B;
	margin: 40px 20px 30px 20px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px; /* future proofing */
	-khtml-border-radius: 12px; /* for old Konqueror browsers */
}

.afterthought_box h4{
	margin: 0px;
	}
	
.afterthought_textcontainer{
	padding: 20px 10px 20px 10px;
}

.horizontal_rule{
	border-bottom: 1px solid #505050;
	margin: 0 1%; 
}

.final_advice{
	text-align: center;
	color: #696969;
}